a1 {
    position: absolute;
    top: 0;
    right: 0%;
  }
  
.box-set {
  position: relative;
  height: 0px;
  background: darkgray;
}

.box {
  /* Absolute Position */
  position: relative;
  width:800px;
  height: 800px;
  color: #fff;
  background: rgb(194, 108, 108);
}
.box-1{
  top:30px;
  left:5%;
}
.box-2{
  bottom:785px;
  left:50%;
}